<header class="site-header <%= 'admin-header' if current_user&.master? %>">
  <div class="container">
    <div class="logo">
      <a href="#">
        <%= image_tag "logo.png", alt: "PICTREASURE", class: "logo-image" %>
      </a>
    </div>
      <div class="auth-button">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>

      <div id="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

        <ul class="menu-list">
          <li class="menu-item"><a href="#" class="nav-link">Home</a></li>
          <li class="menu-item"><a href="#" class="nav-link">About</a></li>
          <li class="menu-item"><a href="#" class="nav-link">Services</a></li>
          <li class="menu-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
  </div>
</header>