@use "sass:color";
@use "variables" as *;

// マスターユーザー用のスタイル
.role-mode {
    color: $main-color;
    font-size: 11px;
    font-weight: 500;
}

body .admin-header,
body .admin-footer {
  background-color: $dark-color;
  color: $light-color;

  .user-greeting {
    margin-right: 15px;
    transition: color 0.3s ease;
    
    .header-name {
        font-weight: 600;

        &:hover {
            color: $accent-color;
        }
    }
  }

  .nav-button {
    color: $light-color;
    border-color: $light-color;
    transition: all 0.3s ease;

    &:hover {
      background-color: $light-color;
      color: $dark-color;
    }

    &.btn-signup,
    &.btn-login,
    &.btn-logout {
      background-color: $light-color;
      color: $dark-color;

      &:hover {
        background-color: $accent-color;
        color: $light-color;
      }
    }
  }
}