$primary-color: #FFA500;     // メインカラー（オレンジ）
$secondary-color: #FFFACD;   // サブカラー（レモンチフォン）
$accent-color: #B22222;      // アクセントカラー（ファイアーブリック）
$dark-color: #800000;        // 暗い色（マルーン）
$light-color: #FFFAF0;       // 明るい色（フローラルホワイト）
