
@use "reset";
@use "variables" as *;
@use "challenges_index";
@use "challenge_show";

body {
  width:100%;
  height:auto;
  background-color: $body-color;
  color: $text-color;
}

main {
  width:100%;
  padding: 40px 20px;
}

h1 {
  color: $text-color;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba($accent-color, 0.2);
}

h2 {
  color: $accent-color;
  margin-bottom: 10px;
  font-size: 1.8em;

  a {
    text-decoration: none;
    color: inherit;
    transition: color $transition-duration ease;

    &:hover {
      color: $primary-color;
    }
  }
}

p {
  color: $text-color;
  font-size: 1.1em;
  line-height: 1.5;
}

// ヘッダーとフッターのスタイル
.site-header, .site-footer {
  background-color: $accent-color;
  padding: 15px 10px;

  & > .container > p {
    color: #fff; // フッター内の段落テキストの色
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;   
  }
}

.logo {
  color: $light-color;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  transition: color $transition-duration ease;

  &:hover {
    color: $secondary-color;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-left: 15px;
  }
}

// ボタンスタイル
.nav-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: $border-radius; // ボタンの角丸
    text-decoration: none; // 下線を消す
    font-weight: bold; // 太字
    transition: background-color $transition-duration ease, color $transition-duration ease; // ホバー時の変化

}

// サインアップとログインボタンのスタイル
.btn-signup, .btn-login {
    background-color: $light-color; // 背景色
    color: $accent-color; // テキスト色

    &:hover { // ホバー時
        background-color: $secondary-color; // ホバー時の背景色
        color: $text-color; // ホバー時のテキスト色
    }
}

// ログアウトボタンのスタイル
.btn-logout {
    background-color: $light-color; // 背景色
    color: $accent-color; // テキスト色
    border: 2px solid $accent-color; // ボーダー

    &:hover { // ホバー時
        background-color: $accent-color; // ホバー時の背景色
        color: $light-color; // ホバー時のテキスト色
    }
}

// その他ボタンスタイル
.nav-button:not(.btn-signup):not(.btn-login):not(.btn-logout) {
    color: $light-color; // テキスト色
    border: 2px solid $light-color; // ボーダー

    &:hover { // ホバー時
        background-color: $light-color; // ホバー時の背景色
        color: $accent-color; // ホバー時のテキスト色
    }
}