@use "reset";
@use "variables" as *;
@use "challenges_index";
@use "challenge_show";

body.main_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $main-color;
  color: $dark-color;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba($accent-color, 0.2);
}

h2 {
  color: $accent-color;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-duration ease;

  &:hover {
    color: $main-color;
  }
}

p {
  color: $text-color;
  font-size: 1.1em;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .navbar-nav {
    .nav-item {
      border-bottom: 1px solid #eee;
      
      &:last-child {
        border-bottom: none;
      }
      
      .nav-link {
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;
        background: none;
        border: none;
        border-radius: 0;
        color: inherit;
        
        &.btn {
          text-align: left;
          padding: 0.75rem 1rem;
          background: none;
          border: none;
          border-radius: 0;
          
          &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
        
        &:hover, &:focus {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}